<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/cartPage.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap" rel="stylesheet" />
  <title>Корзина</title>
</head>

<body>
  <div class="wrapper">
    <div class="content">
      <div class="container">
        <header class="header">
          <div class="header__container">
            <div class="header__info">
              <div class="header__logo">
                <img src="/assets/jpg/logo.jpg" alt="" />
              </div>
              <div class="header__desc">
                <div class="header__title">
                  <img src="/assets/svg/body hunter.svg" alt="" />
                </div>
                <div class="header__subtitle">Начни охоту на свое тело</div>
              </div>
            </div>
            <div class="header__btn">
              <div class="header__back">
                <img src="/assets/svg/reply.svg" alt="" />
              </div>
              <p>Магазин</p>
            </div>
          </div>
        </header>
        <main class="cart-space">
          <section class="cart-head">
            <div class="cart-head__container">
              <div class="cart-head__info">
                <div class="cart-head__cart-logo">
                  <img src="/assets/svg/shopping-cart.svg" alt="" />
                </div>
                <h2 class="cart-head__cart-title">Корзина</h2>
              </div>
              <div class="cart-head__rmv-btn">
                <!-- <div class="cart-head__rmv-logo">
                  <img src="/assets/svg/trash.svg" alt="" />
                </div> -->
                <p class="cart-head__rmv-all">Очистить все</p>
              </div>
            </div>
            <p class="cart-head__line"></p>
          </section>
          <section class="cart-products">
            <div class="cart-products__container">
              <div class="cart-products__item">
                <div class="cart-products__item-flex">
                  <div class="cart-products__left">
                    <div class="cart-products__img">
                      <img src="/assets/jpg/biodron.jpg" alt="">
                    </div>
                    <div class="cart-products__info">
                      <div class="cart-products__name">Биодрон</div>
                      <div class="cart-products__quantity">кол-во: 2</div>
                    </div>
                  </div>
                  <div class="cart-products__center">
                    <div class="cart-products__add-btn">
                      <img src="/assets/svg/IconAdd.svg" alt="">
                    </div>
                    <div class="cart-products__del-btn">
                      <img src="/assets/svg/IconDel.svg" alt="">
                    </div>
                  </div>
                  <div class="cart-products__right">
                    <div class="cart-products__rmv">
                      <img src="/assets/svg/x.svg" alt="">
                    </div>
                    <p class="cart-products__sum">Цена: 699₽</p>
                  </div>
                </div>
                <p class="cart-products__line"></p>
              </div>
              <div class="cart-products__item">
                <div class="cart-products__item-flex">
                  <div class="cart-products__left">
                    <div class="cart-products__img">
                      <img src="/assets/jpg/biodron.jpg" alt="">
                    </div>
                    <div class="cart-products__info">
                      <div class="cart-products__name">Биодрон</div>
                      <div class="cart-products__quantity">кол-во: 2</div>
                    </div>
                  </div>
                  <div class="cart-products__center">
                    <div class="cart-products__add-btn">
                      <img src="/assets/svg/IconAdd.svg" alt="">
                    </div>
                    <div class="cart-products__del-btn">
                      <img src="/assets/svg/IconDel.svg" alt="">
                    </div>
                  </div>
                  <div class="cart-products__right">
                    <div class="cart-products__rmv">
                      <img src="/assets/svg/x.svg" alt="">
                    </div>
                    <p class="cart-products__sum">Цена: 699₽</p>
                  </div>
                </div>
                <p class="cart-products__line"></p>
              </div>
              <div class="cart-products__item">
                <div class="cart-products__item-flex">
                  <div class="cart-products__left">
                    <div class="cart-products__img">
                      <img src="/assets/jpg/biodron.jpg" alt="">
                    </div>
                    <div class="cart-products__info">
                      <div class="cart-products__name">Биодрон</div>
                      <div class="cart-products__quantity">кол-во: 2</div>
                    </div>
                  </div>
                  <div class="cart-products__center">
                    <div class="cart-products__add-btn">
                      <img src="/assets/svg/IconAdd.svg" alt="">
                    </div>
                    <div class="cart-products__del-btn">
                      <img src="/assets/svg/IconDel.svg" alt="">
                    </div>
                  </div>
                  <div class="cart-products__right">
                    <div class="cart-products__rmv">
                      <img src="/assets/svg/x.svg" alt="">
                    </div>
                    <p class="cart-products__sum">Цена: 699₽</p>
                  </div>
                </div>
                <p class="cart-products__line"></p>
              </div>
              <div class="cart-products__item">
                <div class="cart-products__item-flex">
                  <div class="cart-products__left">
                    <div class="cart-products__img">
                      <img src="/assets/jpg/biodron.jpg" alt="">
                    </div>
                    <div class="cart-products__info">
                      <div class="cart-products__name">Биодрон</div>
                      <div class="cart-products__quantity">кол-во: 2</div>
                    </div>
                  </div>
                  <div class="cart-products__center">
                    <div class="cart-products__add-btn">
                      <img src="/assets/svg/IconAdd.svg" alt="">
                    </div>
                    <div class="cart-products__del-btn">
                      <img src="/assets/svg/IconDel.svg" alt="">
                    </div>
                  </div>
                  <div class="cart-products__right">
                    <div class="cart-products__rmv">
                      <img src="/assets/svg/x.svg" alt="">
                    </div>
                    <p class="cart-products__sum">Цена: 699₽</p>
                  </div>
                </div>
                <p class="cart-products__line"></p>
              </div>
            </div>
          </section>
          <section class="cart-bot">
            <div class="cart-bot__container">
              <p class="cart-bot__totaly-sum">Общая сумма: 1394₽</p>
              <a class="cart-bot__btn" href="#openModal">Завершить</a>
            </div>
          </section>
          <section>
            <div id="openModal" class="modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Выбор связи</h3>
                    <a href="#close" title="Close" class="close">×</a>
                  </div>
                  <div class="modal-choice">
                    <div>
                      <p class="chat"><a target="_blank" href="">Написать в WhatsApp</a></p>
                      <p class="chat"><a target="_blank" href="">Написать в Telegram</a></p>
                    </div>
                    <p class="call"><a target="_blank" href="">Звонок на прямую</a></p>
                  </div>
                  <div class="modal-body">
                    <div class="modal-body-flex">
                      <div class="modal-body__info">
                        <p class="modal-product"><b>Биодрон:</b> <br /> кол-во: 1шт \ цена: 499₽</p>
                        <p class="modal-product"><b>Биодрон:</b> <br /> кол-во: 2шт \ цена: 499₽</p>
                        <p class="modal-product"><b>Биодрон:</b> <br /> кол-во: 5шт \ цена: 499₽</p>
                        <p class="modal-product"><b>Биодрон:</b> <br /> кол-во: 18шт \ цена: 4979₽</p>
                        <p class="modal-product"><b>Биодрон:</b> <br /> кол-во: 1шт \ цена: 499₽</p>
                        <p class="modal-product"><b>Биодрон:</b> <br /> кол-во: 3шт \ цена: 500₽</p>
                      </div>
                      <div class="modal-body__copy">
                        <img src="/assets/svg/Copy.svg" alt="">
                      </div>
                    </div>
                    <p class="modal-body__total-sum">Всего: <b>1367₽</b></p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>

</html>