<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/shopPage.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap" rel="stylesheet" />
  <title>Магазин</title>
</head>

<body>
  <div class="wrapper">
    <div class="content">
      <div class="container">
        <header class="header">
          <div class="header__container">
            <div class="header__info">
              <div class="header__logo">
                <img src="/assets/jpg/logo.jpg" alt="" />
              </div>
              <div class="header__desc">
                <div class="header__title">
                  <img src="/assets/svg/body hunter.svg" alt="" />
                </div>
                <div class="header__subtitle">Начни охоту на свое тело</div>
              </div>
            </div>
            <div class="header__btn">
              <div class="header__cart">
                <img src="/assets/svg/Iconcart.svg" alt="" />
              </div>
              <p>Корзина</p>
            </div>
          </div>
        </header>
        <main class="shop-space">
          <section class="search-space">
            <div class="search-space__container">
              <div class="search-space__sort-search-space">
                <div class="search-space__search-block">
                  <form action="/search" method="get">
                    <input placeholder="Введите название продукта..." required="" name="q" class="search-space__input"
                      type="text">
                    <div class="form-flex">
                      <a href="{% url 'main' %}">Назад</a>
                      <button type="submit">Найти</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
          <section class="products">
            <div class="products__container">
              <div class="products__block">
                <div class="products__img">
                  <img src="/assets/jpg/biodron.jpg" alt="" />
                </div>
                <div class="products__info">
                  <p class="products__name">Биодрон</p>
                  <div class="products__price-btn">
                    <p class="products__price">Цена: 1499₽</p>
                    <div class="products__btn">в корзину</div>
                  </div>
                </div>
              </div>
              <div class="products__block">
                <div class="products__img">
                  <img src="/assets/jpg/biodron.jpg" alt="" />
                </div>
                <div class="products__info">
                  <p class="products__name">Биодрон</p>
                  <div class="products__price-btn">
                    <p class="products__price">Цена : 499₽</p>
                    <div class="products__btn">в корзину</div>
                  </div>
                </div>
              </div>
              <div class="products__block">
                <div class="products__img">
                  <img src="/assets/jpg/biodron.jpg" alt="" />
                </div>
                <div class="products__info">
                  <p class="products__name">Биодрон</p>
                  <div class="products__price-btn">
                    <p class="products__price">Цена : 499₽</p>
                    <div class="products__btn">в корзину</div>
                  </div>
                </div>
              </div>
              <div class="products__block">
                <div class="products__img">
                  <img src="/assets/jpg/biodron.jpg" alt="" />
                </div>
                <div class="products__info">
                  <p class="products__name">Биодрон</p>
                  <div class="products__price-btn">
                    <p class="products__price">Цена : 499₽</p>
                    <div class="products__btn">в корзину</div>
                  </div>
                </div>
              </div>
              <div class="products__block">
                <div class="products__img">
                  <img src="/assets/jpg/biodron.jpg" alt="" />
                </div>
                <div class="products__info">
                  <p class="products__name">Биодрон</p>
                  <div class="products__price-btn">
                    <p class="products__price">Цена : 499₽</p>
                    <div class="products__btn">в корзину</div>
                  </div>
                </div>
              </div>
              <div class="products__block">
                <div class="products__img">
                  <img src="/assets/jpg/biodron.jpg" alt="" />
                </div>
                <div class="products__info">
                  <p class="products__name">Биодрон</p>
                  <div class="products__price-btn">
                    <p class="products__price">Цена : 499₽</p>
                    <div class="products__btn">в корзину</div>
                  </div>
                </div>
              </div>
              <div class="products__block">
                <div class="products__img">
                  <img src="/assets/jpg/biodron.jpg" alt="" />
                </div>
                <div class="products__info">
                  <p class="products__name">Биодрон</p>
                  <div class="products__price-btn">
                    <p class="products__price">Цена : 499₽</p>
                    <div class="products__btn">в корзину</div>
                  </div>
                </div>
              </div>
              <div class="products__block">
                <div class="products__img">
                  <img src="/assets/jpg/biodron.jpg" alt="" />
                </div>
                <div class="products__info">
                  <p class="products__name">Биодрон</p>
                  <div class="products__price-btn">
                    <p class="products__price">Цена : 499₽</p>
                    <div class="products__btn">в корзину</div>
                  </div>
                </div>
              </div>
              <div class="products__block">
                <div class="products__img">
                  <img src="/assets/jpg/biodron.jpg" alt="" />
                </div>
                <div class="products__info">
                  <p class="products__name">Биодрон</p>
                  <div class="products__price-btn">
                    <p class="products__price">Цена : 499₽</p>
                    <div class="products__btn">в корзину</div>
                  </div>
                </div>
              </div>
              <div class="products__block">
                <div class="products__img">
                  <img src="/assets/jpg/biodron.jpg" alt="" />
                </div>
                <div class="products__info">
                  <p class="products__name">Биодрон</p>
                  <div class="products__price-btn">
                    <p class="products__price">Цена : 499₽</p>
                    <div class="products__btn">в корзину</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="pagination">
            <div class="pagination__container">
              <div class="pagination__blocks">
                <div class="left-arr">
                  <img src="/assets/svg/Iconl.svg" alt="" />
                </div>
                <div class="pagination__block">1</div>
                <div class="pagination__block">2</div>
                <div class="pagination__block">3</div>
                <div class="pagination__block">1/99</div>
                <div class="right-arr">
                  <img src="/assets/svg/Iconr.svg" alt="" />
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
  </div>
</body>

</html>